*{
    margin: 0;
    font-family: arial;
    border:  border-box;
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 100px;
    /* margin: 5px;; */
}

.logo{
    background-image: url("./Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    /* margin: 50px; */
}
    